#define IDI_ICON 1001
#define IDM_ 116
#define IDD_DLG1 1000
#define IDC_SHP1 1004
#define IDC_IMG1 101
#define IDC_BTN1 103
#define IDC_BTN2 105
#define IDC_BTN3 106
#define IDC_BTN4 107
#define EXIT 117
#define IDR_MENU1 109
#define завдання 110
#define результат 111
#define Відповідь_до_завдань 112
#define Tick 116
#define Avtor 113
#define Nit 114
#define save 115

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "favicon.ico"
 

IDD_DLG1 DIALOGEX -771735,-242448,225,126
CAPTION "SSE- "
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "",IDC_SHP1,"Static",WS_VISIBLE|SS_BLACKRECT,-15,-3,257,153
  CONTROL "photo.jpg",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,20,15,80,80
  CONTROL "Завдання",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,117,15,57,18
  CONTROL "Автор",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_DEFPUSHBUTTON,135,93,75,21
  CONTROL "Результат",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,117,36,57,18
  CONTROL "Save",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,117,60,57,18
  CONTROL "EXIT",EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_VCENTER|BS_CENTER|BS_DEFPUSHBUTTON,189,15,24,63,WS_EX_RIGHT
END

IDR_MENU1 MENUEX
LANGUAGE 54,1
BEGIN
  MENUITEM "Завдання",завдання,0x00000200
  POPUP "Результат",результат,0x00000200
  BEGIN
    MENUITEM "Відповідь виразу",Відповідь_до_завдань
    MENUITEM "Корінь квадратний ",Tick
    MENUITEM "Автор",Avtor
  END
  POPUP "Нічого",Nit,0x00000200
  BEGIN
    MENUITEM "Save and EXIT",save
  END
END

