#define IDI_ICON 1001
#define IDM_ 116
#define IDD_DLG1 1000
#define IDC_SHP1 1004
#define IDC_IMG1 101
#define IDC_BTN1 103
#define IDC_BTN2 102
#define IDC_BTN3 105
#define EXIT 104
#define IDC_BTN4 106
#define IDC_BTN5 107
#define IDR_MENU1 109
#define завдання 200
#define Avtor 203
#define Nit 204
#define save 205
#define IDD_DLG2 3000
#define IDC_EDT1 301
#define IDC_BTN10 302
#define IDC_IMG2 304
#define IDC_BTN6 303

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "favicon.ico"


IDD_DLG1 DIALOGEX 10,10,192,192
CAPTION "Процеси"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "",IDC_SHP1,"Static",WS_VISIBLE|SS_BLACKRECT,-27,-15,512,238
  CONTROL "photo.jpg",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,18,105,80,80
  CONTROL "Завдання",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,21,9,75,21
  CONTROL "Автор",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_DEFPUSHBUTTON,105,129,75,21
  CONTROL "Ввести текст ",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,21,42,75,21
  CONTROL "EXIT",EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_VCENTER|BS_CENTER|BS_DEFPUSHBUTTON,105,159,75,24,WS_EX_RIGHT
  CONTROL "Переглінути текст",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,21,72,75,21
  CONTROL "Відкрити прораму",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,42,75,21
END

IDR_MENU1 MENUEX
LANGUAGE 54,1
BEGIN
  MENUITEM "Завдання",завдання,0x00000200
  MENUITEM "Автор",Avtor
  POPUP "Нічого",Nit,0x00000200
  BEGIN
    MENUITEM " EXIT",save
  END
END

IDD_DLG2 DIALOGEX 40,10,177,123
CAPTION "Ввеідть текст"
FONT 8,"Georgia",400,255,0
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_CENTER|DS_3DLOOK
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,24,75,126,12,WS_EX_CLIENTEDGE
  CONTROL "ENTER",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,93,156,12
  CONTROL "",IDC_IMG2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPSIBLINGS|WS_BORDER|SS_CENTERIMAGE|SS_ICON,63,3,42,39
  CONTROL " Введіть текст",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,48,96,18,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
END

