#define IDI_ICON 1001
#define IDM_ 116
#define IDD_DLG1 1000
#define IDC_SHP1 1004
#define IDC_IMG1 101
#define IDC_BTN1 103
#define IDC_BTN2 102
#define IDC_BTN3 105
#define EXIT 104
#define IDC_BTN4 106
#define IDC_BTN5 107
#define IDC_BTN6 108
#define IDC_BTN11 109
#define IDC_BTN12 110
#define IDC_BTN13 111
#define IDC_BTN14 112
#define IDC_BTN7 114
#define IDC_BTN8 115
#define IDC_GRP1 10500
#define IDC_GRP2 1017
#define IDC_BTN9 120
#define IDR_MENU1 109
#define завдання 200
#define результат 201
#define IDM_Полотно 202
#define IDM_Key 206
#define Avtor 203
#define Nit 204
#define save 205

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "favicon.ico"

IDD_DLG1 DIALOGEX -3,-27,372,192
CAPTION "Реестр"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "",IDC_SHP1,"Static",WS_VISIBLE|SS_BLACKRECT,-23,-4,512,238
  CONTROL "photo.jpg",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,141,39,80,80
  CONTROL "Завдання",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,144,9,75,21
  CONTROL "Автор",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_DEFPUSHBUTTON,144,126,75,21
  CONTROL "LegalNoticeCaption",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,24,75,21
  CONTROL "EXIT",EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_VCENTER|BS_CENTER|BS_DEFPUSHBUTTON,144,162,75,24,WS_EX_RIGHT
  CONTROL "LegalNoticeText",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,48,75,21
  CONTROL "RunOnce",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,72,75,21
  CONTROL "RunServices",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,120,75,21
  CONTROL "RunServicesOnce",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,144,75,21
  CONTROL "RunServicesOnce",IDC_BTN12,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,78,75,21
  CONTROL "RunOnceEX",IDC_BTN13,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,105,75,21
  CONTROL "RunServices",IDC_BTN14,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,132,75,21
  CONTROL "LegalNoticeCaption",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,24,75,21
  CONTROL "LegalNoticeText",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,51,75,21
  CONTROL "ON",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,12,108,159
  CONTROL "OFF",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,243,15,102,150
  CONTROL "RunOnceEX",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,96,75,21
END

IDR_MENU1 MENUEX
LANGUAGE 54,1
BEGIN
  POPUP "Завдання",завдання,0x00000200
  BEGIN
    MENUITEM "Завдання",результат,0x00000200
    MENUITEM "Ветки",IDM_Полотно
    MENUITEM "Ключ",IDM_Key
  END
  MENUITEM "Автор",Avtor
  POPUP "Нічого",Nit,0x00000200
  BEGIN
    MENUITEM " EXIT",save
  END
END

