#define IDD_DLG1 1000
#define IDC_CREATEKEY 1001
#define IDC_DELETEKEY 1002
#define IDC_STC1 1003
#define IDC_STC2 1004
#define IDC_GRP1 1005
#define IDC_STC3 1006
#define IDC_STC4 1007
#define IDC_STC5 1008

#include "C:/masm32/include/RESOURCE.H"

IDD_DLG1 DIALOGEX 10,10,249,105
CAPTION "Запись и удаление ключа в реестр"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Создать ключ",IDC_CREATEKEY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,21,90,18
  CONTROL "Удалить ключ",IDC_DELETEKEY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,21,90,18
  CONTROL "НТУ ХПИ, КИТ, каф. ВТП",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,93,90,9
  CONTROL "Рысованый А.Н.",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,186,93,60,9
  CONTROL "Управление реестром",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,12,6,213,39
  CONTROL "Раздел:HKEY_CURRENT_USER",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,48,117,9
  CONTROL "Ветвь:Software\Microsoft\Windows\CurrentVersion\Policies\Ext\CLSID",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,60,234,9
  CONTROL "F5 - Обновление содержимого панелей Редактора реестра",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,75,228,12
END

