#define IDM_Option 10006
#define IDM_help 10001
#define IDD_DLG7 1002
#define IDD_DLG1 1000
#define IDC_BTN1 101
#define IDC_BTN2 102
#define IDC_BTN3 103
#define IDC_BTN16 104
#define IDC_IMG2 106
#define IDC_BTN24 105
#define IDC_SHP2 1002
#define IDR_MENU1 10000
#define IDM_VP 10005
#define IDM_ZP 10007
#define IDM_Prog 10004
#define IDM_avtor 10002
#define IDM_ 10003
#define IDD_DLG3 3000
#define IDC_EDT1 302
#define IDC_EDT2 303
#define IDC_EDT3 304
#define IDC_BTN4 305
#define IDC_STC3 310
#define IDC_STC4 311
#define IDC_STC1 308
#define IDC_STC2 309
#define IDC_GRP6 3001
#define IDC_BTN25 312
#define IDC_BTN26 313
#define IDC_BTN27 315
#define IDC_BTN28 314
#define IDC_BTN29 317
#define IDC_BTN30 316
#define IDC_BTN31 319
#define IDC_BTN32 318
#define IDC_BTN39 321
#define IDC_BTN40 320
#define IDC_GRP8 306
#define IDC_BTN41 322
#define IDC_EDT4 301
#define IDD_DLG2 2000
#define IDC_BTN5 203
#define IDC_BTN6 204
#define IDC_BTN7 205
#define IDC_BTN8 206
#define IDC_BTN9 207
#define IDC_BTN10 208
#define IDC_BTN11 209
#define IDC_BTN12 202
#define IDC_BTN13 201
#define IDC_GRP1 210
#define IDC_GRP2 211
#define IDC_BTN19 212
#define IDC_GRP5 215
#define IDD_DLG4 4000
#define IDC_RBN1 401
#define IDC_RBN2 403
#define IDC_RBN3 405
#define IDC_BTN14 402
#define IDC_BTN17 406
#define IDC_BTN18 407
#define IDC_BTN20 408
#define IDC_BTN21 409
#define IDC_BTN22 410
#define IDC_BTN23 411
#define IDC_GRP3 4005
#define IDC_GRP7 4001
#define IDD_DLG5 5000
#define IDC_IMG1 501
#define IDD_DLG6 600
#define IDC_SHP1 609
#define IDC_STC5 601
#define IDC_STC6 602
#define IDC_BTN15 607
#define IDC_EDT6 605
#define IDC_EDT7 604
#define IDC_EDT8 603
#define IDC_GRP4 606
#define IDC_BTN33 613
#define IDC_BTN34 612
#define IDC_BTN35 615
#define IDC_BTN36 614
#define IDC_BTN37 611
#define IDC_BTN38 610

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "favicon.ico"
20 RCDATA DISCARDABLE "1.jpg"
30 RCDATA DISCARDABLE "2.jpg"
40 RCDATA DISCARDABLE "3.jpg"
50 RCDATA DISCARDABLE "4.jpg"

IDD_DLG1 DIALOGEX 250,100,240,135
CAPTION "Hhrianyk"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_THICKFRAME|WS_MINIMIZEBOX|DS_3DLOOK
BEGIN
  CONTROL "Точность фігури",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,108,15,114,27
  CONTROL "Дані",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,108,48,114,24
  CONTROL "Формула функції",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,108,75,114,24
  CONTROL "Зобразити фігуру",IDC_BTN16,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,108,102,114,24
  CONTROL "",IDC_IMG2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,12,12,75,78
  CONTROL "EXIT",IDC_BTN24,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,18,99,54,21
  CONTROL "",IDC_SHP2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_CLIPSIBLINGS|SS_BLACKRECT,-105,0,498,246
END

IDR_MENU1 MENU
BEGIN
  POPUP "Option"
  BEGIN
    MENUITEM "Встановлені параметри",IDM_VP
    MENUITEM "Змінити параметри",IDM_ZP
  END
  POPUP "Help"
  BEGIN
    MENUITEM "Про програму",IDM_Prog
    MENUITEM "Автор",IDM_avtor
  END
  MENUITEM "EXIT",IDM_
END

IDD_DLG3 DIALOGEX 250,150,195,129
FONT 10,"Palatino Linotype",700,0,0
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_THICKFRAME|WS_MINIMIZEBOX|DS_3DLOOK
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,57,48,36,12,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,99,48,36,12,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,144,57,36,12,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "Done",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,48,108,99,12
  CONTROL "C",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,102,21,27,24,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "D",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,150,30,27,24,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "A",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,15,27,27,24,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "B",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,60,21,27,24,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Введіть відповідні дані",IDC_GRP6,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,3,180,90
  CONTROL "-",IDC_BTN25,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,75,15,9
  CONTROL "+",IDC_BTN26,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,30,75,15,9
  CONTROL "+",IDC_BTN27,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,78,63,15,9
  CONTROL "-",IDC_BTN28,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,63,63,15,9
  CONTROL "+",IDC_BTN29,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,117,63,15,9
  CONTROL "-",IDC_BTN30,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,102,63,15,9
  CONTROL "+",IDC_BTN31,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,162,72,15,9
  CONTROL "-",IDC_BTN32,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,147,72,15,9
  CONTROL "+",IDC_BTN39,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,177,12,15,9
  CONTROL "-",IDC_BTN40,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,162,12,15,9
  CONTROL "Plus",IDC_GRP8,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,147,3,45,18
  CONTROL "?",IDC_BTN41,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,12,12,9
  CONTROL "",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,12,57,36,12,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
END

IDD_DLG2 DIALOGEX 250,100,390,117
CAPTION "                                                                                                                              Точність"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_THICKFRAME|WS_MINIMIZEBOX|DS_3DLOOK
BEGIN
  CONTROL "5000",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,24,81,75,18
  CONTROL "10 000",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,165,21,75,18
  CONTROL "25 000",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,165,42,75,18
  CONTROL "50 000",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,165,60,75,18
  CONTROL "100 000",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,291,39,75,18
  CONTROL "1 000 000",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,291,57,75,18
  CONTROL "1 000 000 000",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,291,75,75,18
  CONTROL "2000",IDC_BTN12,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,24,60,75,18
  CONTROL "1000",IDC_BTN13,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,24,39,75,18
  CONTROL "Довго обробляється",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,279,18,99,87
  CONTROL "Погана деталізація",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,15,24,96,81
  CONTROL "75 000",IDC_BTN19,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,165,81,75,18
  CONTROL "Оптимальлний варіант",IDC_GRP5,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,144,6,117,102
END

IDD_DLG4 DIALOGEX 250,100,297,120
CAPTION "Функція"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_THICKFRAME|WS_MINIMIZEBOX|DS_MODALFRAME|DS_LOCALEDIT|DS_FIXEDSYS|DS_3DLOOK
BEGIN
  CONTROL "x=сos(at)-cos^3(bt); y=sin(ct)-sin^3(dt)",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,21,153,9
  CONTROL "x=cos(at)-cos^3(bt); y=sin(ct)-sin^4(dt)",IDC_RBN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,51,150,9
  CONTROL "x=cos(at)-cos^4(bt); y=sin(ct)-sin^4(dt)",IDC_RBN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,18,81,150,9
  CONTROL "Графік",IDC_BTN14,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,201,9,60,18
  CONTROL "Графік",IDC_BTN17,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,201,75,60,18
  CONTROL "Ok",IDC_BTN18,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,201,99,60,18
  CONTROL "1",IDC_BTN20,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,201,45,15,18
  CONTROL "2",IDC_BTN21,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,219,45,15,18
  CONTROL "3",IDC_BTN22,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,237,45,15,18
  CONTROL "4",IDC_BTN23,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,255,45,15,18
  CONTROL "Графік",IDC_GRP3,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,189,36,90,33
  CONTROL "Оберіть функцію",IDC_GRP7,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,12,6,174,96
END

IDD_DLG5 DIALOGEX 180,0,642,249
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|WS_VSCROLL
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,150,327
END

IDD_DLG6 DIALOGEX -30,263229,150,138
CAPTION "Option"
FONT 11,"Palatino Linotype",700,0,204
STYLE WS_POPUP|WS_ICONIC|WS_VISIBLE|WS_THICKFRAME|WS_MINIMIZEBOX|DS_3DLOOK
EXSTYLE WS_EX_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_SHP1,"Static",NOT WS_VISIBLE|WS_DISABLED|WS_CLIPSIBLINGS|WS_CAPTION|WS_GROUP|SS_CENTER,0,0,150,138,WS_EX_STATICEDGE|WS_EX_TOOLWINDOW|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "Розмір фігури",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,12,9,51,15,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Розмір вікна",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,9,54,48,24,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Ok",IDC_BTN15,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DLGFRAME|WS_TABSTOP,36,120,78,15
  CONTROL "",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,102,54,30,15,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,66,54,27,15,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "",IDC_EDT8,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,72,9,39,12,WS_EX_STATICEDGE|WS_EX_CONTROLPARENT|WS_EX_LEFTSCROLLBAR|WS_EX_RTLREADING|WS_EX_CONTEXTHELP|WS_EX_OVERLAPPEDWINDOW|WS_EX_TOOLWINDOW|WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_TOPMOST|WS_EX_DLGMODALFRAME
  CONTROL "       X                Y        ",IDC_GRP4,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,63,42,72,36
  CONTROL "+",IDC_BTN33,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,72,15,9
  CONTROL "-",IDC_BTN34,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,72,15,9
  CONTROL "+",IDC_BTN35,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,117,72,15,9
  CONTROL "-",IDC_BTN36,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,102,72,15,9
  CONTROL "+",IDC_BTN37,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,24,15,9
  CONTROL "-",IDC_BTN38,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,24,15,9
END

