#define IDI_ICON 1001
#define IDM_ 116
#define IDD_DLG1 1000
#define IDC_SHP1 1004
#define IDC_IMG1 101
#define IDC_BTN1 103
#define IDC_BTN2 105
#define IDC_BTN3 106
#define IDC_BTN4 107
#define EXIT 117
#define IDC_BTN5 1001
#define IDC_BTN6 1002
#define IDC_BTN7 1003
#define IDC_BTN8 1005
#define IDC_BTN9 1006
#define IDC_BTN10 1007
#define IDC_BTN11 1008
#define MMX 1009
#define IDC_STC2 1010
#define IDC_STC3 1011
#define IDR_MENU1 109
#define завдання 110
#define IDM_Z 221
#define MMXЯ 216
#define SSE 219
#define AVX 220
#define IDM_Дані 212
#define IDM_M_MMX 222
#define IDM_M_SSE 223
#define IDM_M_AVX 224
#define результат 111
#define Відповідь_до_завдань 212
#define IDM_SSE 217
#define IDM_AVX 218
#define Avtor 113
#define Nit 114
#define save 115

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "favicon.ico"


IDD_DLG1 DIALOGEX -771735,-242448,324,180
CAPTION "MMX-  SSE- AVX- "
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "",IDC_SHP1,"Static",WS_VISIBLE|SS_BLACKRECT,-6,-3,339,180
  CONTROL "photo.jpg",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,123,24,80,80
  CONTROL "Завдання",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,243,27,57,18
  CONTROL "Автор",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_VCENTER|BS_CENTER|BS_DEFPUSHBUTTON,261,114,27,63
  CONTROL "Результат",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,243,54,57,18
  CONTROL "Save",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,243,78,57,18
  CONTROL "EXIT",EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_NOTIFY|BS_MULTILINE|BS_VCENTER|BS_CENTER|BS_DEFPUSHBUTTON,291,114,24,63,WS_EX_RIGHT
  CONTROL "Завдання",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,27,57,18
  CONTROL "Результат",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,51,57,18
  CONTROL "Save",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,75,57,18
  CONTROL "Завдання",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,153,57,18
  CONTROL "Результат",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,153,57,18
  CONTROL "Save",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,153,57,18
  CONTROL "Загальне завдання",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,3,108,18
  CONTROL "MMX",MMX,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,6,6,78,15
  CONTROL "SSE",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,234,6,78,15
  CONTROL "AVX",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,54,126,81,15
END

IDR_MENU1 MENUEX
LANGUAGE 54,1
BEGIN
  POPUP "Завдання",завдання,0x00000200
  BEGIN
    MENUITEM "Загальне",IDM_Z
    MENUITEM "MMX",MMXЯ
    MENUITEM "SSE",SSE
    MENUITEM "AVX",AVX
  END
  POPUP "Дані ",IDM_Дані
  BEGIN
    MENUITEM "Масив для MMX",IDM_M_MMX
    MENUITEM "Масив для SSE",IDM_M_SSE
    MENUITEM "Вирад для AVX",IDM_M_AVX
  END
  POPUP "Результат  ",результат,0x00000200
  BEGIN
    MENUITEM "Результат MMX",Відповідь_до_завдань
    MENUITEM "Результат SSE",IDM_SSE
    MENUITEM "Результат AVX",IDM_AVX
  END
  MENUITEM "Автор",Avtor
  POPUP "Нічого",Nit,0x00000200
  BEGIN
    MENUITEM "Save and EXIT",save
  END
END

